<footer>
    <div class="row">
        <div class="col-lg-4 col-md-7 col-sm-12 resp">
            <h2>Reach Us</h2>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Bihta,Patna, Bihar 801106</li>
                <li><i class="far fa-envelope"></i>fin_club@iitp.ac.in</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-7 col-sm-12 resp">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/team">Team</a> </li>
                <!-- <li><a href="#contact">Contact Us</a></li>  -->
            </ul>
        </div>
        <div class="col-lg-4 col-md-7 col-sm-12 resp">
            <h2>Social Media Links</h2>
            <a href="https://www.linkedin.com/company/finance-club-iit-patna/" target="_blank"><i
                    class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://www.instagram.com/financeclub.iitp/" target="_blank"><i
                    class="fab fa-instagram fa-2x"></i></a>
            <a href="https://www.youtube.com/channel/UCmqNUY6Gaacota4U4sf9ZWg" target="_blank"><i
                    class="fab fa-youtube fa-2x"></i></a>
        </div>
    </div>
    <hr />
    <div class="copyright">
        <p>&copy; Finance Club, IIT Patna. All rights reserved.</p>
    </div>
</footer>
<script src="/js/main.js" charset="UTF-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>