<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"  style="padding-left: 5px;"> <img src="/images/logo.png" alt="Logo"/> Finance Club | IITP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="navbar-toggler-awesome fas fa-bars" style="font-size: 25px;"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%= path === '/' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link <%= path === '/events' ? 'active' : '' %>" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/resources' ? 'active' : '' %>" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/team' ? 'active' : '' %>" href="/team">Team</a>
          </li>
         