<nav class="spons">

    <style>
        .spons {
            margin-bottom: 2% !important;
        }

        .sponsi {
            display: flex;
            flex-direction: row;
            /* margin : 2% !important; */
        }

        .sponsimg {
            height: 9%;
            width: 10%;
            margin: auto !important;
            display: inline;
        }

        .sponsn {
            display: flex;
            flex-direction: row;
        }

        .sponsname {
            margin: auto !important;
        }

        .sponsname1 {
            margin-left: 8% !important;
            margin-right: 2.5% !important;
        }

        .sponsname4 {
            margin-left: 15% !important;
        }

        .sponsname5 {
            margin-right: 20% !important;
        }
    </style>
    <div class="sponsi">
        <img src="/images/Spons-1.png" alt="working" class="sponsimg spons1" />
        <img src="/images/Spons-2.png" alt="working" class="sponsimg spons2" />
        <img src="/images/Spons-3.png" alt="working" class="sponsimg spons3" />
        <img src="/images/Spons-4.jpg" alt="working" class="sponsimg spons4" />
        <img src="/images/Spons-5.png" alt="working" class="sponsimg spons5" />
    </div>

    <!-- <div class="sponsn">
        <h1 class="sponsname sponsname1" style="font-size: 2rem; color: rgba(9,0,47,255); font-weight: 500; font-family: 'Orbitron', sans-serif;">
            Bricks Protocol
        </h1>
        <h1 class="sponsname sponsname2" style="font-size: 2rem; color: rgba(9,0,47,255); font-weight: 500; font-family: 'Orbitron', sans-serif;">
            Finstreet
        </h1>
        <h1 class="sponsname sponsname3" style="font-size: 2rem; color: rgba(9,0,47,255); font-weight: 500; font-family: 'Orbitron', sans-serif;">
            Peergrid
        </h1>
    </div> -->

    <!-- <div class="sponsi">

    </div> -->

    <!-- <div class="sponsn">
        <h1 class="sponsname sponsname4" style="font-size: 2rem; color: rgba(9,0,47,255); font-weight: 500; font-family: 'Orbitron', sans-serif;">
            Growjunction
        </h1>
        <h1 class="sponsname sponsname5" style="font-size: 2rem; color: rgba(9,0,47,255); font-weight: 500; font-family: 'Orbitron', sans-serif;">
            Finshot
        </h1>
    </div> -->
</nav>