<button id="btnScrollToTop">
    <i class="material-icons">arrow_upward</i>
</button>
<script>
    const btnScrollToTop = document.querySelector("#btnScrollToTop");
    btnScrollToTop.addEventListener("click", function(){
        window.scrollTo(0,0);
    });
</script>
