<!DOCTYPE html>
<html lang="en">
<%- include ('./includes/head.ejs') %>

    <body>
        <%- include ('./includes/navbar.ejs') %>
            </ul>
            </div>
            </div>
            </nav>
            <div class="main" style="background-color: rgba(255,255,255,255)">
                <div class="start flex">
                    <div class="heading text-center">
                        <h2>Resources</h2>
                        <hr style="width: 33%;">
                    </div>
                    <div class="cont flex">
                        <div class="para">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ducimus dolore? Beatae
                                id ex qui! Unde mollitia, modi ea rerum officia, magnam nam reprehenderit debitis
                                laborum illum placeat asperiores esse sapiente dicta, deleniti voluptate sunt ex?
                                Ratione, nisi. Inventore, asperiores id enim eveniet atque deleniti dignissimos
                                accusamus. Sint, quam ex?</p>
                        </div>
                        <div class="img-fluid">
                            <img src="/images/resources.jpeg" alt="">
                        </div>
                    </div>

                </div>


            </div>

            <%- include ('./includes/footer.ejs') %>
    </body>

</html>