<!DOCTYPE html>
<html lang="en">
<%- include ('./includes/head.ejs') %>

    <body>
        <%- include ('./includes/navbar.ejs') %>
            </ul>
            </div>
            </div>
            </nav>
            <div class="main">
                <div class="start flex">
                    <div class="heading text-center mb-2">
                        <h2 style="color: rgb(236, 188, 188);">Resources</h2>
                    </div>
                    <div class="date text-center text-muted">
                        <h4>1/6/2022</h4>
                    </div>
                    <hr style="width: 27%;color: rgb(121, 166, 189);">
                    <div class="quote text-center">
                        <h4 class="mb-2" style="font-size: 40px;">"An Investment in knowledge pays the best interest..."</h4>
                        <h5><i>- Benjamin Franklin</i></h5>
                    </div>
                    <div class="cont">
                        <div class="zexy">
                            <h4>
                                Core Finance
                            </h4>
                            <h5>Basics</h5>
                            <ul>
                                <li>
                                    Accounting Concepts & Financial Statement Analysis - YouTube/ Class 12 Accountancy/
                                    CFA L1/ Stock Market Course/ Coursera etc
                                </li>
                            </ul>
                            <h5>Advanced Topics</h5>
                            <ul>
                                <li>Valuation Basics - Aswath Damodaran YouTube channel</li>
                                <li>Financial Modeling - YouTube/ Coursera/ FMVA CFI etc</li>
                                <li>M&A, LBO modeling - Wall Street Oasis/ Wall Street Mojo etc</li>
                            </ul>
                        </div>
                        <hr style="width: 27%;">
                        <div class="zexy">
                            <h4>Investing</h4>
                            <h5>Youtube Channels (all videos)</h5>
                            <ul>
                                <li>Akshat Srivastava</li>
                                <li>Pranjal Kamra</li>
                                <li>CA Rachna Ranade </li>
                            </ul>
                            <p style="color: aliceblue;">*Usually avoid Futures & Options, Leverage Trading etc in Stock Market, Focus more on
                                long term Investing</p>

                            <h5>Apps/Blogs</h5>
                            <ul>
                                <li>Finshots (MUST)</li>
                                <li>Zerodha Varsity</li>
                                <li>Quora</li>
                                <li><a href="https://www.investopedia.com"
                                        style="text-decoration: none;">Investopedia</a></li>
                            </ul>

                            <h5>Books</h5>
                            <h6>MUST read books</h6>
                            <ul>
                                <li>Rich Dad, Poor Dad</li>
                                <li>The Psychology of Money</li>
                                <li>How to avoid loss and win consistently in stock market / Investonomy</li>
                                <li>Romancing the balance sheet</li>
                                <li>Charlie Munger : The Complete Investor</li>
                            </ul>
                            <h6>Advanced Level Books</h6>
                            <ul>
                                <li>One upon wall Street</li>
                                <li>The most important thing : uncommon sense to thoughtful investor</li>
                                <li>Common stock and uncommon profit</li>
                                <li>Ray Dalio Books</li>
                                <li>The intelligent investor</li>
                                <li>The Security Analysis</li>
                            </ul>
                            <h6>Other optional Books</h6>
                            <ul>
                                <li>Value investing & behavioural Finance</li>
                                <li>Little book series</li>
                                <li>Diamonds in the dust</li>
                                <li>The Warren Buffett Way</li>
                            </ul>

                            <h5>NewsPapers (any one)</h5>
                            <ul>
                                <li>Live Mint</li>
                                <li>Financial express</li>
                                <li>Economic times</li>
                                <li>Business Standard</li>
                            </ul>
                        </div>
                        <hr style="width: 27%;">
                        <div class="zexy">
                            <h4>Operations and Supply Chain Management</h4>
                            <h5>Courses</h5>
                            <ul>
                                <li>Supply Chain Principles - Coursera</li>
                            </ul>
                            <h5>Books</h5>
                            <ul>
                                <li>Operations Management 7th Edition by Prof Nigel Slack</li>
                            </ul>
                        </div>
                        <hr style="width: 27%;">
                        <div class="zexy">
                            <h4>Marketing</h4>
                            <ul>
                                <li>Digital Marketing Course by Google Digital Garage</li>
                                <li>Follow Gary Vee - YouTube Channel and his books</li>
                                <li>Philip Kotler books</li>
                            </ul>
                        </div>
                        <hr style="width: 27%;">
                        <div class="zexy">
                            <h4>Consulting</h4>
                            <ul>
                                <li>Case Interview Secrets book by Victor Cheng</li>
                                <li>Case Interview Cracked book by IIT Bombay Alumni</li>
                                <li>Case book IIMA</li>
                            </ul>
                            <h5>Books for Business Understanding</h5>
                            <ul>
                                <li>Zero to One</li>
                                <li>Hooked</li>
                                <li>Rework</li>
                                <li>No Rules Rules</li>
                                <li>The lean startup</li>
                                <li>Biographies: Steve Jobs , Elon Musk</li>
                            </ul>
                        </div>
                        <hr style="width: 27%;">
                        <div class="zexy">
                            <h4>Product Management</h4>
                            <h5>Books</h5>
                            <ul>
                                <li>Cracking the PM Interview</li>
                                <li>The Design of Everyday Things</li>
                                <li>Divide and Conquer</li>
                            </ul>
                        </div>
                        <hr style="width: 27%;">
                        <div class="zexy">
                            <h4>More Courses</h4>
                            <ul>
                                <li>Class 12 Accountancy - Ratio Analysis Chapter - YouTube</li>
                                <li>Trading strategies in emerging markets specialization by ISB - Coursera (very
                                    advanced)</li>
                                <li>Corporate Finance Essentials - Coursera</li>
                                <li>Private Equity & Venture Capital - Coursera</li>
                            </ul>
                        </div>
                        <hr style="width: 27%;">
                        <div class="zexy once">
                            <h4>Join Our Discord Server</h4>
                            <!-- HTML !-->
                            <a href="https://discord.gg/VbtMaGq8" class="once"><button class="button-36"
                                    role="button">Discord Invite</button></a>


                            <!-- CSS -->
                            <style>
                                .button-36 {
                                    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
                                    border-radius: 8px;
                                    border-style: none;
                                    box-sizing: border-box;
                                    color: #FFFFFF;
                                    cursor: pointer;
                                    flex-shrink: 0;
                                    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "SegoeUI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
                                    font-size: 16px;
                                    font-weight: 500;
                                    height: 4rem;
                                    padding: 0 1.6rem;
                                    text-align: center;
                                    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
                                    transition: all .5s;
                                    user-select: none;
                                    -webkit-user-select: none;
                                    touch-action: manipulation;
                                    justify-content: center;
                                    text-align: center;
                                    padding: 15px;
                                }

                                .button-36:hover {
                                    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
                                    transition-duration: .1s;
                                }

                                @media (min-width: 768px) {
                                    .button-36 {
                                        padding: 0 2.1rem;
                                    }
                                }
                            </style>

                        </div>




                    </div>


                </div>

            </div>
            <%- include ('./includes/footer.ejs') %>
    </body>

</html>