<!DOCTYPE html>
<html lang="en">
<%- include ('./includes/head.ejs') %> 
<body>
   <%- include ('./includes/navbar.ejs') %> 
</ul>
</div>
</div>
</nav>
   <h1 class="heading">Hello, this is the <%= pageTitle %> page of our Finance World!!!</h1>
   <%- include ('./includes/footer.ejs') %> 
</body>
</html>