<!DOCTYPE html>
<html lang="en">
<%- include ('./includes/head.ejs') %>

   <link rel="stylesheet" href="/css/teamPage.css" />


   <body>
      <%- include ('./includes/navbar.ejs') %>
         </ul>
         </div>
         </div>
         </nav>

         <section id="team">
            <!-- coords -->
            <div class="coords text-center">
               <h1 style="color: white; font-family: 'Orbitron', sans-serif;">Our Team</h1>
               <hr style="color: aliceblue;border: solid aliceblue;">

               <div class="testimonial-box">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="team-slider owl-carousel">
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/aryan.jpg"></div>
                                 <div class="info-area">
                                    <h4>Aryan Chanda</h4>
                                    <p><b>OVERALL Coordinator</b></p>
                                    <a href="https://www.linkedin.com/in/aryan-chanda-6985b7209/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/sahil.jpg"></div>
                                 <div class="info-area">
                                    <h4>Sahil Joshi</h4>
                                    <p><b>Coordinator - Investing Cell</b></p>
                                    <a href="https://www.linkedin.com/in/sahilmjoshi/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/sudeep.jpg"></div>
                                 <div class="info-area">
                                    <h4>Sudeep Paul</h4>
                                    <p><b>Coordinator - Consulting Cell</b></p>
                                    <a href="https://www.linkedin.com/in/sudeep-paul-a04372201/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="testimonial-box">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="team-slider owl-carousel">
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/img8.jpeg"></div>
                                 <div class="info-area">
                                    <h4>Prateek Kumar</h4>
                                    <p><b>Coordinator - Tech Department</b></p>
                                    <a href="https://www.linkedin.com/in/prateek-kumar-1472p/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/pawan.jpg"></div>
                                 <div class="info-area">
                                    <h4>Pawan Kumar</h4>
                                    <p><b>Coordinator - Tech Department</b></p>
                                    <a href="https://www.linkedin.com/in/pawankr007/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/ishani.jpg"></div>
                                 <div class="info-area">
                                    <h4>Ishani Upadhyay</h4>
                                    <p><b>Coordinator - Design and marketing</b></p>
                                    <a href="https://www.linkedin.com/in/ishani-upadhyay-997aa021a/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/vanshika.jpg"></div>
                                 <div class="info-area">
                                    <h4>Vanshika Nagar</h4>
                                    <p><b>Coordinator - Design and marketing</b></p>
                                    <a href="https://www.linkedin.com/in/vanshika-nagar-0545291a9/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- coords end -->

            <!-- Sub-coordinators -->
            <div class="subcoord text-center">
               <h1 style="color: white; font-family: 'Orbitron', sans-serif;padding-top: 40px;">Sub-coordinators</h1>
               <hr style="color: aliceblue;border: solid aliceblue;">
               <h2 style="color: rgb(119, 239, 211); font-family: 'Orbitron', sans-serif;padding-top: 20px;">
                  Consulting Cell</h2>
               <div class="testimonial-box">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="team-slider owl-carousel">
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/aditya.jpg"></div>
                                 <div class="info-area">
                                    <h4>Keshav Saxena</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/aditya-kumar-337a08218/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/deep.jpeg"></div>
                                 <div class="info-area">
                                    <h4>Utkarsh Kumar Giri</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/deepanzhu-chaudhary/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/deep.jpeg"></div>
                                 <div class="info-area">
                                    <h4>Praneeth G</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/deepanzhu-chaudhary/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/deep.jpeg"></div>
                                 <div class="info-area">
                                    <h4>Rishabh Raunak</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/deepanzhu-chaudhary/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <h2 style="color: rgb(119, 239, 211); font-family: 'Orbitron', sans-serif;padding-top: 20px;">
                  Investing Cell</h2>
               <div class="testimonial-box">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="team-slider owl-carousel">
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/ravi.png"></div>
                                 <div class="info-area">
                                    <h4>Sharique Ahmad Azizy</h4>
                                    <p>Sub-coordinator</p>
                                    <a href="https://www.linkedin.com/in/ravi-ranjan-95b98521a/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/sudhanshu.jpg"></div>
                                 <div class="info-area">
                                    <h4>Ayush Tripathi</h4>
                                    <p>Sub-coordinator</p>
                                    <a href="https://www.linkedin.com/in/sudhanshu-singh-a22750218/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/sudhanshu.jpg"></div>
                                 <div class="info-area">
                                    <h4>Partha Sarathi Dutta</h4>
                                    <p>Sub-coordinator</p>
                                    <a href="https://www.linkedin.com/in/sudhanshu-singh-a22750218/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>

                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/ayush.jpg"></div>
                                 <div class="info-area">
                                    <h4>Sanjana Kumari</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/ayushagrawal72b/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <h2 style="color: rgb(119, 239, 211); font-family: 'Orbitron', sans-serif;padding-top: 20px;">
                  Tech Team</h2>
               <div class="testimonial-box">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="team-slider owl-carousel">
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/arushi.jpg"></div>
                                 <div class="info-area">
                                    <h4>Dhruv Choudhari</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/arushi-thakur-b861a6199/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/pragyan.jpg"></div>
                                 <div class="info-area">
                                    <h4>Harsh Kumar Singh</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/pragyan-paramita-rath-353385219/"
                                       target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/pragyan.jpg"></div>
                                 <div class="info-area">
                                    <h4>Shivani</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/pragyan-paramita-rath-353385219/"
                                       target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <h2 style="color: rgb(119, 239, 211); font-family: 'Orbitron', sans-serif;padding-top: 20px;">
                  Design and Marketing Team</h2>
               <div class="testimonial-box" style="margin-bottom: 50px !important;">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="team-slider owl-carousel">
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/garv.jpg"></div>
                                 <div class="info-area">
                                    <h4>Suryansh Bansal</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/garvjain208/" target="_blank"><i
                                          class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/atharva.jpg"></div>
                                 <div class="info-area">
                                    <h4>Ayush Singh</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/atharva-pachundkar-9726b2230/"
                                       target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/atharva.jpg"></div>
                                 <div class="info-area">
                                    <h4>Mamta Kanwar</h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/atharva-pachundkar-9726b2230/"
                                       target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                              <div class="single-box text-center">
                                 <div class="img-area"><img alt="" class="img-fluid move-animation"
                                       src="/teammates/atharva.jpg"></div>
                                 <div class="info-area">
                                    <h4>T. Anudeep </h4>
                                    <p>Sub-Coordinator</p>
                                    <a href="https://www.linkedin.com/in/atharva-pachundkar-9726b2230/"
                                       target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- subcoords ends -->
         </section>
         <%- include ('./includes/footer.ejs') %>

            <!-- js for carousel -->
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
            <script>
               $('.team-slider').owlCarousel({
                  loop: true,
                  nav: false,
                  autoplay: true,
                  autoplayTimeout: 4000,
                  smartSpeed: 750,
                  autoplayHoverPause: true,
                  responsiveBaseElement: 'body',
                  // center: true,
                  margin: 0,
                  responsive: {
                     0: {
                        items: 1
                     },
                     576: {
                        items: 2
                     },
                     1000: {
                        items: 3
                     },
                     1220: {
                        items: 3
                     }
                  }
               });
            </script>

   </body>

</html>