<!DOCTYPE html>
<html lang="en">
<%- include ('./includes/head.ejs') %>
   <link rel="stylesheet" href="/css/teamPage.css"/>

   <body>
      <%- include ('./includes/navbar.ejs') %>
         </ul>
         </div>
         </div>
         </nav>
         <div id="team">
            <h1 style='color: white;'>Our Team</h1>
            <div>
               <h2>
                  Coordinators
               </h2>
               <div class="box">
                  <div class="coord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Finance</h4>
                  </div>
                  <div class="coord">
                     <img src="/images/avatar_female.png">
                     <h3>Your Name</h3>
                     <h4>Consulting</h4>
                  </div>
                  <div class="coord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Investing</h4>
                  </div>
                  <div class="coord">
                     <img src="/images/avatar_female.png">
                     <h3>Your Name</h3>
                     <h4>Tech</h4>
                  </div>
               </div>
            </div>

            <div style='background-color: #28559a;'>
               <h2>
                  Sub-Coordinators
               </h2>
               <div class="box">
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Tech</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Tech</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_female.png">
                     <h3>Your Name</h3>
                     <h4>Tech</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Tech</h4>
                  </div>

                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Consulting</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Consulting</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_female.png">
                     <h3>Your Name</h3>
                     <h4>Consulting</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Consulting</h4>
                  </div>

                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Investing</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Investing</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_female.png">
                     <h3>Your Name</h3>
                     <h4>Investing</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Investing</h4>
                  </div>

                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Finance</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Finance</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_female.png">
                     <h3>Your Name</h3>
                     <h4>Finance</h4>
                  </div>
                  <div class="subcoord">
                     <img src="/images/avatar_male.jpg">
                     <h3>Your Name</h3>
                     <h4>Finance</h4>
                  </div>
               </div>
            </div>
         </div>
         <%- include ('./includes/footer.ejs') %>
   </body>
</html>