* {
    padding: 0;
    margin: 0 !important;
    font-family: 'Nunito', sans-serif;

  }
  .first{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
     
  }
  .second{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-top: 55px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
     
  }
  .slider {
    width: 70%;
    height: 60%;
    padding:0px;
    margin-bottom: 35px;
    margin-top: auto;
    position: relative;
    justify-content: center;
    align-self: center;
  }
  .slider .owl-item.active.center .slider-card {
    transform: scale(0.97);
    opacity: 1;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */color: aliceblue;
  }
  .slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 20px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.7);
    opacity: 0.6;
    transition: all 0.35s;
  }
  .slider-card img {
    border-radius: 5px 5px 5px 5px;
    object-fit: cover;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: -30px;
    opacity: 1;
    font-size: 40px !important;
    z-index: 10;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: -30px;
    opacity: 1;
    font-size: 40px !important;
    z-index: 10;
  }
  .owl-dots {
    text-align: center;
    /* padding-right: 20px; */
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 10px !important;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: #2050eb !important;
  }
  